.containerDashboard {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: linear-gradient(270deg, rgb(96, 96, 186), rgb(39, 39, 148), rgb(138, 138, 220));
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  padding: 20px;

  margin: 0 auto; /* Centraliza horizontalmente */
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px; /* Espaçamento entre os itens */
}

.gridItem {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.titleDash {
  background-color: rgb(96, 96, 186);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
